<%= form_with model: user, local: true do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username, required: true %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :phone %>
    <%= f.number_field :phone, required: true %>
  </div>

  <div>
    <%= f.label :role %>
    <%= f.select :role, options_for_select([['Buyer', 'buyer'], ['Seller', 'seller'], ['Rider', 'rider']]), include_blank: true %>
  </div>

  <div>
    <%= f.submit user.new_record? ? "Create User" : "Update User" %>
  </div>
<% end %>
