<% if current_user %>
  <div class="user-settings">
    <h1>User Settings</h1>
    <p><strong>Welcome, <%= current_user.username %></strong></p>
     
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <!--<%= button_to "Delete account", delete_account_path, method: :delete %>>-->

    <%= link_to 'Edit Account', edit_user_registration_path %>
  </div>
<% end %>


<% if can?(:read, Cart) %>
  <%= link_to 'View Cart', cart_path, class: 'btn btn-primary' %>
<% end %>

<h1>Product</h1>
<%= link_to 'All Products', products_path, class: 'btn btn-secondary' %>
<%= render 'products/products_table', products: @products %>
<h1>Category</h1>
<%= link_to 'All Categories', categories_path, class: 'btn btn-secondary' %>
<%= render 'categories/categories_table', categories: @categories %>

