<h1>Products</h1>
<%= link_to 'All products', products_path, class: 'btn btn-secondary' %>
<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.stock %></td>
      <td>
        <% if product.categories.any? %>
          <% product.categories.each do |category| %>
            <span><%= category.name %></span><%= "," unless category == product.categories.last %>
          <% end %>
        <% else %>
          <span>No categories assigned</span>
        <% end %>
      </td>
      <td>
        <%= link_to 'Show', product_path(product), class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning' %>
        <%= link_to 'Delete', delete_product_path(product), method: :get, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>