<% @page_title = "Product Details" %>

<div class='product-details'>
  <h1>Product Details</h1>
  <p><strong>Title:</strong> <%= @product.title %></p>
  <p><strong>Description:</strong> <%= @product.description %></p>
  <p><strong>Stock:</strong> <%= @product.stock %></p>
  <p><strong>Price:</strong> <%= @product.price %></p>

  <% if current_user&.buyer? %>
  <%= form_with url: cart_items_path, method: :post, local: true do %>
    <%= hidden_field_tag :product_id, @product.id %>
    <div>
      <%= label_tag :quantity, "Quantity" %>
      <%= number_field_tag :quantity, 1, min: 1 %>
    </div>
    <%= submit_tag "Add to Cart", class: 'btn btn-primary' %>
  <% end %>
<% end %>

  <p><strong>Categories:</strong> 
    <% @product.categories.each do |category| %>
      <span><%= category.name %></span><%= "," unless category == @product.categories.last %>
    <% end %>
  </p>

  <% if can?(:update, @product) %>
    <%= link_to "Edit Product", edit_product_path(@product), class: 'btn btn-primary' %>
  <% end %>
  
  <% if can?(:destroy, @product) %>
    <%= link_to("Delete", delete_product_path(@product), method: :get, class: "btn btn-danger") %>
  <% end %>

<h2>Reviews</h2>
<%= link_to 'Add a Review', new_product_review_path(@product), class: 'btn btn-primary' %>
<%= render partial: 'reviews/index', locals: { reviews: @product.reviews } %>

<%= link_to 'Back to all the Products', products_path, class: 'btn btn-secondary' %>
<%= link_to 'Back to homepage', homepage_path, class: 'btn btn-secondary' %>
</div>
