<h1>Reviews for <%= @product.title %></h1>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %> / 5<br>
        <strong>Comment:</strong> <%= review.comment %><br>
        <strong>By:</strong> <%= review.user.username %>
        <% if review.user == current_user %>
          <%= link_to 'Edit', edit_product_review_path(@product, review) %> |
          <%= link_to 'Delete', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<%= link_to 'Add a Review', new_product_review_path(@product) %>
<%= link_to 'Back to Product', product_path(@product) %>
